# Gradle
.gradle/
build/
bin/
out/

# Eclipse
.settings/
.classpath
.project

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# WPILIB
*.wpilib/
simgui*.json
networktables.json
